body{
    background-color: rgb(224, 99, 15);
    padding: 0px;
    margin:0px;
}

.titleMain{
    text-align:center;
    color:white;
    margin-top:10px;
    margin-bottom:30px;
}

.topContainer{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:25px;
}

.cardOne{
    background:white;
    width:400px;
    padding:20px;
    border-radius:10px;
    min-height:180px;
    box-shadow:0px 0px 3px gray;
}

.cardTwo{
    background:white;
    width:390px;
    padding:22px;
    border-radius:10px;
    height:auto;
}

.searchWrap{
    display:flex;
    flex-direction:row;
    gap:8px;
    margin-bottom:10px;

}

input{
    
    padding:8px;
    border:1px solid gray;
}

button{
    background-color:orange;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:4px;

    font-weight:bold;
}
.span{
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 14px ;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 4px;
}

.consoleOuter{
    background:white;
    width:820px;
    margin-left: 200px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 4px #999;
}

#consoleBlackScreen{
    background-color:black;
    color:white;
    padding:15px;
    height:120px;
}

#historyAreaBox{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
